<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>七不思議からの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      $(window).on('load scroll', function (){
    var box = $('.fadeIn');
    var animated = 'animated';
    box.each(function(){
      var boxOffset = $(this).offset().top;
      var scrollPos = $(window).scrollTop();
      var wh = $(window).height();
      //画面内のどの位置で処理を実行するかで「100」の値を変更
      if(scrollPos > boxOffset - wh + 500 ){
        $(this).addClass(animated);
      }
    })});
  </script>
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/teamlogo2.png" alt="チームロゴ"></div>
      <div class="header__name header--color">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img class="fadeIn" src="assets/images/2Q_projectN_Top.png" alt="Presented by SCRAP×N・S高リアル脱出ゲーム制作PJ 七不思議からの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の壱</span>理科室の人体模型</h2>
            <p class="text-center fadeIn fadeIn">
              理科室の扉を開けるとカタカタという音がする。<br>
              七不思議なんてそんなに怖くないだろうと思っていたが、実際に目の当たりにすると足がすくみ、嫌な汗が垂れてくる。
              </p>
            <p class="text-center fadeIn"></p>
  
            <div class="container">
              <figure class="image__container">
                <img class="fadeIn" src="assets/images/nazo_kusuriyubi.png" alt="">
              </figure>
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
            <!------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。
              v-bind:correct="correctAnswer['stage1']['q1']" は正解の解答を指します。
              v-on:answer-input="answerInput($event, 'stage1', 1)" は送信ボタンをクリックした時の動作を決める関数です。
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。
              []、()の間違い、''の抜けがあると動きません。
            ------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" target="hint1" onClick="disp('hint1.html')">カケルの考えを聞く</a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        <!------------------------------------------------------------------------------------------------------
          ステージを全問正解するとclear['stage1']がtrusになります。
          v-if="clear['stage1']"はclear['stage1']がtrueになったら表示します。
          v-bind:class="{isClear:clear['stage1']}"はclear['stage1']がtrueになったら「isClear」クラスを追加します。
        -------------------------------------------------------------------------------------------------------->
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の壱 解決</div>
              <div class="clear-message__content">人体模型の動きが止まった。どうやら答えはあっていたらしい。</div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次の七不思議へ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->

      <!-- STAGE2　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の弍</span>血涙を流す絵</h2>
              <p class="text-center fadeIn">まだあと6つ残っているというのに相当疲れた。<br>
                しかし謎を解き終えなければ脱出ができないので急ぎたい。<br>
                次はどこに行こうか。カケルに考えを尋ねる。<br>
                「図工室とかいいんじゃないかな。ほら、あの部屋には絵画があるだろう？何か関係がありそうだよ」<br>
                やはりカケルは頼りになる。共に廊下の向こう側にある図工室へと向かう。<br>
                扉を引くとなぜか奥の方から視線を感じる。カケルも同じく視線を感じたのか、そちらへ懐中電灯を向ける。<br>
                モナリザの目から赤い液体が垂れている。本能的にそれが血の涙であると理解した。<br>
                絶叫し怯える僕を尻目に、カケルはそれでも涼しい顔をしている。<br>
                「ほら、あれがこの部屋の謎じゃないかな」
                </p>
                <figure class="image__container">
                  <img class="fadeIn" src="assets/images/nazo_crayon.png" alt="">
                </figure>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
              
              <!-------------------------------------------------------------
                class名"row"内のclass名"column"が横並びになります。
                改行する場合は以下のように追加してください。
                <div class="row">
                  <div class="column">
                    ～ 内容 ～
                  </div>
                </div>
              ------------------------------------------------------------->
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>
                  <a class="link-hint"  target="hint2" onClick="disp('hint2.html')">カケルの考えを聞く</a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->
              </div><!-- /.row -->

            </div>
          </div>
        </section>

        <!-- STAGE2クリア画面　ここから -->
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の弍 解決</div>
              <div class="clear-message__content">
                謎を解き終えた。ふと例のモナリザへ目をやると、もう血の涙は流れていない。<br>
                彼女はいつものあの優しい微笑をたたえていた。<br>
                やはり、どういう仕組みかはわからないが、謎を解くと怪異がおさまるようになっているらしい。
              </div>
                <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次の七不思議へ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->
      </div>
      <!-- STAGE2　ここまで -->

      <!-- STAGE3　ここから -->
      <div v-if="next['stage2']" id="sectionStage3" class="stage">

        <!-- STAGE3-1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の参</span>階段の怪異</h2>
            <p class="text-center fadeIn">「2階と3階は普通の教室しかないから次は4階の音楽室かな」<br>
              カケルが当然のように次の場所を示す。それに従おうとした時だった。<br>
              「あっ、違う。花子さんがいるじゃないか。だから3階のトイレに行こう！」<br>
              カケルが慌てて訂正する。今度こそカケルに従い、階段を上り始める。<br>
              2階を通り過ぎ、3階に進む途中のことだった。踊り場の階段にふと目をやると、僕の姿がそこに映っていないのだ。<br>
              またどこかに謎があるのだろう。<br>
              「これがここの謎かな」<br>
              カケルが指を差す。先ほど僕も見た場所のような気がしたが、暗かったので見落としていたのだろう。<br>
              </p>
            <figure class="image__container">
              <img class="fadeIn" src="assets/images/nazo_ie.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE3-1問題セクション　ここまで -->

        <!-- STAGE3-1解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
            <!-----------------------------------------------------------------------------------------------------------------
              解答入力欄のコンポーネントです。
              v-on:answer-input="answerInput($event, 'stage3', 1, 'final')" は送信ボタンをクリックした時の動作を決める関数です。
              4番目の引数 'final' は最終ステージを表します。
            ------------------------------------------------------------------------------------------------------------------>
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>
            <a class="link-hint"  target="hint3" onClick="disp('hint3.html')">カケルの考えを聞く</a>
          </div>
        </section>
        <!-- STAGE3-1解答入力セクション　ここまで -->

        <!-- STAGE3クリア画面　ここから -->
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の参 解決</div>
              <div class="clear-message__content">
                鏡に僕らの姿が映った。今度こそ3階トイレの花子さんのところへ向かおう。
              </div>
                <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次の七不思議へ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->          
      </div>
      <!-- STAGE3　ここまで -->
      <!-- STAGE4　ここから -->
      <!---------------------------------------------------------------------
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。
        v-if="next['stage1']"はnext['stage1']がtrueになったら表示します。
      ----------------------------------------------------------------------->
      <div v-if="next['stage3']" id="sectionStage4" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の四</span>トイレの花子さん</h2>
              <p class="text-center fadeIn">階段を上りきり、3階のトイレに入る。<br>
                奥から2番目の個室を3度ノックし、名前を呼ぶ。<br>
                「花子さーん」<br>
                「はーい」<br>
                テスト用紙を持って個室から出てきた花子さんがその用紙を渡してきた。<br>
                どうやらここの謎はこのテスト用紙に書いてあるらしい。
                </p>
                <figure class="image__container">
                  <img class="fadeIn" src="assets/images/nazo_hune.png" alt="">
                </figure>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
              <div class="row">

                <!-- STAGE2-1　ここから -->
                <div class="column">
                  <!-- STAGE2-1問題セクション　ここから -->
                  <!-- STAGE2-1問題セクション　ここまで -->
                  <!-- STAGE2-1解答入力セクション　ここから -->
                  <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>
                  <a class="link-hint"  target="hint4" onClick="disp('hint4.html')">カケルの考えを聞く</a>
                  <!-- STAGE2-1解答入力セクション　ここまで -->
                </div><!-- /.column -->
                <!-- STAGE2-1　ここまで -->
              </div>
            </div>
          </div>
        </section>

        <!-- STAGE4クリア画面　ここから -->
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の四 解決</div>
              <div class="clear-message__content">謎を解き終えると花子さんは満足そうに個室へと戻っていった。<br>
                扉が閉まりきった途端、気配がなくなったような気がした。
                </div>
                <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次の七不思議へ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここまで -->
      </div>
      <!-- STAGE4　ここまで -->
      <!--stage5 ここから-->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の五</span>音楽室のピアノ</h2>
              <p class="text-center fadeIn">今度こそ、先ほどカケルの示した音楽室へと向かう。<br> 階段を上りきると、早くもどこか悲しげなピアノの音が聞こえてきた。<br>
                おそるおそる扉を開ける。グランドピアノの蓋は開いており、音も聞こえてくるがやはり弾き手の姿は見えない。
                <br>またもカケルがすぐに謎のありかを見つけたらしい。</p>
                
                <figure class="image__container">
                  <img class="fadeIn" src="assets/images/nazo_violin.png" alt="">
                </figure>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
              <div class="row">
                <div class="column">
                  <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1)"></answer-input>
                  <a class="link-hint"  target="hint5" onClick="disp('hint5.html')">カケルの考えを聞く</a>
                </div><!-- /.column -->
              </div>
            </div>
          </div>
        </section>

        <!-- STAGE5クリア画面　ここから -->
        <section v-if="clear['stage5']" v-bind:class="{isClear:clear['stage5']}"  class="section section--clear bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の五 解決</div>
              <div class="clear-message__content">謎を解き終えるとピアノの音が止み、グランドピアノの蓋はいつの間にか閉じていた。</div>
                <button v-on:click="nextStage('stage5')" onclick="location.href='#sectionStage6'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE5クリア画面　ここまで -->
      </div>
      <!--stage5クリア画面 ここまで-->
      <!--stage6 ここから-->
      <div v-if="next['stage5']" id="sectionStage6" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の六</span>勝手に立ち上がるPC</h2>
              <p class="text-center fadeIn">今度の謎はどこにあるのだろう。残っている一般的なものとしては体育館のボールなどだろうか。<br>そう考えているとカケルが口を開く。<br>
                「ひとまずこの階の部屋を順番に見ていこうか」<br>
                カケルが言うのだからそうしよう。カケルの言うことには常に不思議な説得力があるのだ。<br>
                「まずはPC室だね」<br>
                少しばかり廊下を進み、PC室の扉を開ける。<br>
                途端、一台のPCの電源が立ち上がる。<br>
                そこにはまたしても謎が表示されていた。
                </p>
                <figure class="image__container">
                  <img class="fadeIn" src="assets/images/nazo_message.png" alt="">
                </figure>
            </div>
          </div>
          <div class="stage-column__container section bg-color--keycolor">
            <div class="container">
              <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
              <div class="row">
                <div class="column">
                  <answer-input v-bind:correct="correctAnswer['stage6']['q1']" v-on:answer-input="answerInput($event, 'stage6', 1)"></answer-input>
                  <a class="link-hint"  target="hint6" onClick="disp('hint6.html')">カケルの考えを聞く</a>
                </div><!-- /.column -->
              </div>
            </div>
          </div>
        </section>

        <!-- STAGE6クリア画面　ここから -->
        <section v-if="clear['stage6']" v-bind:class="{isClear:clear['stage6']}"  class="section section--clear  bg-color--clear">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">七不思議の六 解決</div>
              <div class="clear-message__content">謎を解き終えた。七不思議で残るのは後ひとつ。早く解き終えて家でゆっくり休もう。そう思った途端、視界がぼやける。
              </div>
                <button v-on:click="nextStage('stage6')" onclick="location.href='#sectionStage7'" class="clear-message__btn btn">次のステージへ<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE6クリア画面　ここまで -->
      </div>
      <!--stage6　ここまで-->
          <!--stage7 ここから-->
            <div v-if="next['stage6']" id="sectionStage7" class="stage">
              <section>
                <div class="section">
                  <div class="container">
                    <h2 class="section-title section-title--keycolorlight"><span class="section-title__stage">七不思議の七</span><div class="text_bokashi">学校を彷徨う男の子の霊</div></h2>
                    <p class="text-center fadeIn">目が覚めると保健室のベッドの上にいた。そうだ、あと1つ、謎を解かなければ。<br>
                      起き上がると、枕元に謎が書かれた紙が置いてある。<br>
                      これを解けばいいことはわかった。しかしどうやって解けばいいのだろうか。<br>
                      カケルが声をかけてくる。<br>
                      「僕がてを貸してあげるよ。一緒にここから抜け出そう」
                      </p>
                      <figure class="image__container">
                        <img class="fadeIn" src="assets/images/saigo.png" alt="">
                      </figure>
                  </div>
                </div>
                <div class="stage-column__container section bg-color--keycolor">
                  <div class="container">   
                    <h2 class="section-title"><span class="section-title__stage"></span>答えを入力</h2>
                    <div class="row">
                      <div class="column">
                        <answer-input v-bind:correct="correctAnswer['stage7']['q1']" v-on:answer-input="answerInput($event, 'stage7', 1 ,'final')"></answer-input>
                      </div><!-- /.column -->
                    </div>
                  </div>
                </div>
              </section>
      
              <!-- STAGE7クリア画面　ここから -->
              <section v-if="clear['stage7']" v-bind:class="{isClear:clear['stage7']}"  class="section section--clear bg-color--clear">
                <div class="container">
                  <div class="clear-message">
                    <div class="clear-message__title">七不思議の七</div>
                    <div class="clear-message__content">
                      「取り込まれちゃったね……『真実の赤』がキーワードだよ」<br>
                      カケルの言葉が聞こえたのを最後に僕の意識はなくなってしまった<br>
                      そして目が覚めると保健室のベッドの上にいた<br>
                      カケルが声をかけてくる<br>
                      「ダメだったね……僕がてを貸してあげる。今度こそ一緒にここから抜け出そう」</div>
                      <button v-on:click="nextStage('stage7')" onclick="location.href='#sectionStage_normal'" class="clear-message__btn btn">もう一度謎に挑む<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
                  </div>
                </div>
              </section>
              <!-- STAGE7クリア画面　ここまで -->
            </div>
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>