/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: rgb(53, 0, 61);
}
.bg-color--subcolor {
  background-color: #d9e021;
}
.bg-color--gray {
  background-color: rgb(61, 0, 23);
}
