/*********************
* Color
*********************/
.bg-color--keycolor {
  background-color: rgb(53, 0, 61);
}
.bg-color--subcolor {
  background-color: rgb(61, 0, 23);
}
.bg-color--gray {
  background-color: rgb(61, 0, 23);
}
.bg-color--clear{
  background-color: rgb(38, 0, 61);
}
.bg-color--final{
  background-color: rgb(37, 199, 199);
}
.bg-color--final2{
  background-color: rgb(37, 117, 199);
}