/*********************
* title
**********************/
.main-title {
  margin: 0;
}
.sub-title {
  text-align: center;
  font-size: 18px;
  line-height: (30/18);
  &__bg {
    background-color: #fcee21;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.section-title {
  font-size: 24px;
  line-height: (42/24);
  text-align: center;
  padding: ((60px-42)/2) 20px;
  margin: 0 -20px 20px -20px;
  &__stage {
    display: inline-block;
    margin-right: 2rem;
  }
  &--keycolorlight {
    background-color: rgb(53, 0, 61);
    .section-title__stage {
      color: #fff;
    }
  }
  &--keycolor {
    background-color: rgb(61, 0, 23);
  }
  &--story {
    width: 330px;
    margin: 0 auto 20px;
  }
}
.section-title--border {
  position: relative;
  font-size: 30px;
  text-align: center;
  line-height: (32/30);
  margin: 0;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);
  &::after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 169px);
    display: block;
    content: '';
    background-color: #fcee21;
    height: 2.6px;
    width: 325px;
  }
}
/******************
* text
******************/
.font-eng {
  font-style: italic;
  font-weight: normal;
}
.font-odr{
  font-family:'New Tegomin', serif;
}
.font-hutu{
  font-family: 'Courier New', Courier, monospace;
}
.big_text{
  font-size: 1.3em;
}
.text-middle{
  display: table-cell;
  vertical-align:middle;
}
.text_bokashi{
  color: transparent;
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
  display: inline-block;
}
